{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('I am HHB') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'libs/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'libs/codemirror/theme/mdn-like.css' %}">
<script src="{% static 'libs/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'libs/codemirror/mode/markdown/markdown.js' %}"></script>
<script src="{% static 'admin/site.js' %}"></script>
{% endblock %}
