body {
    > footer {
        background-color: #eee;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1em;
        color: gray;
        text-align: right;
        margin: 0;
    }
    position: relative;
    height: auto;
    padding-bottom: 5em;
    min-height: 100%;
    .main-content {
        padding-top: 6em;
    }
}

.clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.ui.menu .header.item .logo {
    margin-right: 10px;
}

/* Base Style for Articles */
.article-content {
    font-size: 120%;
    .meta {
        background-color: #eee;
        padding: 15px;
        font-size: 90%;
        color: gray;
        margin-bottom: 1em;
        .time {
            text-align: right;
        }
    }
    blockquote {
        margin: 1em 0;
        padding: 0.5em 0 0.5em 1em;
        border-left: 0.5em solid #ddd;
    }
    p {
        line-height: 1.5em;
    }
    img {
        max-width: 100%;
    }
    b, strong {
        color: #333;
        margin: 0 0.2em;
    }
    table {
        width: 100%;
        font-size: 90%;
        text-align: left;
        thead {
            background-color: #eee;
        }
        th, td {
            padding: 0.5em;
            border: 0.15em solid #ccc;
        }
    }
}

/* Reading */
body.app-reading > .container {
    .item.book-info > .image > img {
        height: 9em;
        width: auto;
        margin: 0 0 0 auto;
    }
    .note-content {
        padding-top: 1em;
        @extend .article-content;
    }
}

/* Wikis */
body.app-wiki > .container {
    .wiki-content {
        padding-top: 4em;
        max-width: 45em;
        @extend .article-content;
    }
}

/* About ME */
.ui.card.about-me {
    margin: 0 auto;
}
