{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% stylesheet 'libs' %}
    {% stylesheet 'site' %}
    {% javascript 'libs' %}
    {% javascript 'site' %}
    {% block headtail %} {% endblock %}
    <title>{{ title }}</title>
</head>
<body id="request.name">
    <div class="ui fixed pointing menu">
        <div class="ui container">
            <a href="/" class="header item active">
                <img class="logo" src="{% static "logo.png" %}" alt="Logo Image">
                Hongbo He
            </a>
            <a href="/blogs" class="item">Blog</a>
            <a href="/reading" class="item">Reading</a>
            <a href="/wikis" class="item">Wiki</a>
            <a href="/about-me" class="item right">About Me</a>
        </div>
    </div>
    <div class="ui main-content container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="ui container">
            <p>Powered by <a href="#">A Lot</a> • © Copyright 2017 by Hongbo He.</p>
        </div>
    </footer>
</html>
