@import "html/static/commons.scss";

body.app-blog > .container {
    .ui.items.post-list {
        .item {
            .image {
                text-align: right;
                color: gray;
                //font-size: 120%;
            }
            .content .header, .content .description {
                color: #555;
                font-weight: lighter;
            }
        }
    }
    .post-content {
        max-width: 50em;
        float: left;
        /* fix anchor offset
         * see: https://stackoverflow.com/a/13184714
         */
        h1, h2, h3, h4, h5, h6 {
            &:before {
                content: '';
                display: block;
                position: relative;
                width: 0;
                height: 3em;
                margin-top: -3em
            }
        }
    }
    .post-toc {
        margin: 2em 0 0 2em;
        float: left;
        width: 16em;
    }
    pre {
        background-color: #444;
        padding: 1em;
        font-size: 85%;
        font-family: menlo,monospace;
        color: #ccc;
    }
}
